.jumbotron {
  background-color: black;
  color: #ffe600;
  margin-top: 50px;
  margin-bottom: 0px;
  background-image: url(/images/banner.jpg);
  background-repeat: no-repeat repeat;
  background-size: cover;
  background-position: top;
}
.display-4 {
  font-size: 6.5rem !important;
  height: 180px;
  font-weight: 600;
  text-shadow: 2px 2px 4px #000000;
}
.btn-cards {
  background-color: #ffe600;
  color: navy;
  width: 100%;
  border-color: #ffe600;
  border-radius: 16px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: black;
  color: darkgray;
  margin-top: 5%;
  margin-bottom: 0%;
}
.card-web {
  flex: 1 150px;
  padding: 2px 5px 2px 5px;
}
.icon-addres {
  padding-right: 5px;
}
.tab-content {
  padding-top: 15px;
}
