@orangewd:#ffe600;
.margins(@top: 0px, @bottom: 0px) {
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: black;
    color: @orangewd;
    .margins(50px, 0px);
    background-image: url(/images/banner.jpg);
    background-repeat: no-repeat repeat;
    background-size: cover;
    background-position: top;
}

.display-4 {
    font-size: 6.5rem !important;
    height: 180px;
    font-weight: 600;
    text-shadow: 2px 2px 4px #000000;
}

.btn-cards {
    background-color: @orangewd;
    color: navy;
    width: 100%;
    border-color: @orangewd;
    border-radius: 16px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: black;
    color: darkgray;
    .margins(5%, 0%);
}

.card-web {
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}

.icon-addres {
    padding-right: 5px;
}

.tab-content {
    padding-top: 15px;
}